.homepage {
  height: 100vh;
  width: 100vw;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  &__video {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    object-fit: cover !important;
  }

  &__audio {
    position: absolute;
    top: 1.6rem;
    right: 30%;
    height: 2.8rem;
    width: 2.8rem;
  }
}
