.clock {
    position: absolute;
    top: 1.6rem;
    right: 2rem;
    padding: 0.8rem 1.2rem;
    font-size: 40px;
    border-radius: 0.4rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.504);
}