.buddyCard {
    background-color: rgba(67, 67, 67, 0.82);
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 31%;
    border-radius: 2.4px;
    // margin-right: 1.2rem;
    overflow-y: scroll;

    &__image {
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 2.4px;
        object-fit: cover !important;
    }

    &__name {
        font-size: 1.2rem;
        margin-top: 0.4rem;
        font-weight: 500;
        color: white;
    }

    &__aim {
        font-size: 0.8rem;
        margin-top: 0.2rem;
        font-weight: 300;
        color: white;
    }

    &__actionsContainer {
        display: flex;
        width: 100%;
        margin-top: 0.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__button {
        width: 100%;
        background-color: transparent;
        padding: 0.2rem 0.4rem;
        margin-top: 0.4rem;
        border: 0.16px solid #ccc;
        border-radius: 1.2rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            border-color: inherit;
        }
    }
}