.pomodoro {
  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36%;
    transition: all 0.3s ease;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #ccc;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.375);
  }

  &__progressbar {
    height: 10px;
    background-color: #4caf50;
    align-self: flex-start;
  }

  &__timer {
    padding: 20px;
    font-size: 6.4rem;
    font-weight: 600;
    margin-top: 0.8rem;
    color: white;
  }

  &__sessionType {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 600;
    color: white;
    text-align: center;
  }

  &__add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    flex: 1;
  }

  &__add {
    // margin-top: 56%;
  }

  &__input {
    width: 96%;
    padding: 1.2rem;
    border-radius: 10px;
    border: 2px solid #ccc;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.375);
    font-size: 20px;
    color: #ffffffe5;
    font-weight: lighter;

    &::placeholder {
      color: #ffffffe5;
    }
  }

  &__add__button {
    background-color: #ffffffe0;
    color: #000;
    padding: 1.3rem;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}
